<h3>Statistiky jednotlivých klientů:</h3><br>

<% if current_user %>
<table class="table">
  <thead>
    <tr class="table-secondary text-center">
      <th>Jméno:</th>
      <th>Celkem minut:</th>
      <th>Průměrná délka:</th>
      <th>Medián:</th>
      <th>Nejdelší sezení:</th>
      <th>Nejkratší sezení:</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <% @entries_by_name.each do |name, entries| %>
      <tr>
        <td><%= name %></td>
        <td><%= entries.map(&:length).sum %></td>
        <td><%= entries.map(&:length).sum.fdiv(entries.count) %></td>
        <td><%= entries.sort_by(&:length)[entries.count / 2].length %></td>
        <td><%= entries.max_by(&:length).length %></td>
        <td><%= entries.min_by(&:length).length %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>