
<div id="<%= dom_id entry %>">
  
  <p>
    <strong>Jméno klienta:</strong><br>
    <%= entry.name %>
  </p>

  <p>
    <strong>Téma sezení:</strong><br>
    <%= entry.title %>
  </p>

  <p>
    <strong>Číslo sezení:</strong><br>
    <%= entry.session %>
  </p>

  <p>
    <strong>Zápis ze sezení:</strong><br>
    <%= entry.body %>
  </p>
  <p>počet zobrazení: <%= entry.views %></p>
  <p>vytvořeno uživatelem <%= entry.user.email %></p>

</div>