<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div style="color: red">
      <h2>Počet chyb neumožňující uložení zápisu: <%= entry.errors.count %></h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", value: "Jméno klienta:" %>
    <%= form.text_field :name, placeholder: "jméno a příjmení", class:"input-entry" %>
  </div>
<br>

<div>
    <%= form.label :length, value: "Vyberte délku sezení:" %>
      <br>
    <%= form.select :length, options_for_select([["15 minut", 15], ["30 minut", 30], ["45 minut", 45], ["60 minut", 60], ["90 minut", 90], ["120 minut", 120]], selected: @entry.length) %>
</div>

<br>
  <div>
    <%= form.label :title, style: "display: block", value: "Téma sezení:" %>
    <%= form.text_field :title, placeholder: "o čem bylo sezení", class:"input-entry" %>
  </div>
<br>
  <div>
    <%= form.label :session, style: "display: block", value: "Sezení číslo:" %>
    <%= form.number_field :session, class:"input-entry" %>
  </div>
<br>
  <div>
    <%= form.label :body, style: "display: block", value: "Záznam ze sezení:" %>
    <%= form.text_area :body, placeholder: "záznam ze sezení", class:"input-entry-textarea container" %>
  </div>

  <div>
    <%= form.submit value: "Zapsat", class: "btn btn-primary" %>
  </div>
<% end %>